* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

body {
  font-family: "Manrope", sans-serif;
}

.container {
  padding: 0 16px;
  max-width: 1440px;
  margin: auto;
}
