* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

body,
* {
  font-family: "Manrope", sans-serif;
}

.container {
  padding: 0 16px;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

h2,
h3,
h4,
h5 {
  text-align: center;
}

.section-title {
  margin-bottom: 32px;
  @media (max-width: $screen-sm) {
    margin-bottom: 16px;
  }
}

button {
  background: none;
  border: none;
}

.block-scroll {
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  width: 48px !important;
  height: 48px !important;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid $light-color;
  &:after {
    color: #28303f;
    font-size: 12px !important;
  }
}

.page-content {
  p {
    margin-bottom: 16px;
    color: $dark-color;
  }

  ul {
    li {
      list-style: disc;
      margin-left: 22px;
    }
    li:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  ol {
    li {
      list-style: decimal;
      margin-left: 22px;
    }
    li:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  h2 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 12px;
    @media (max-width: $screen-sm) {
      font-size: 18px;
      line-height: 22px;
      font-weight: 600;
    }
  }
  h3 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: start;
    @media (max-width: $screen-sm) {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
