* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

body {
  font-family: "Manrope", sans-serif;
}

.container {
  padding: 0 16px;
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000;
}

h2,
h3,
h4,
h5 {
  text-align: center;
}

.section-title {
  margin-bottom: 32px;
  @media (max-width: $screen-sm) {
    margin-bottom: 16px;
  }
}

button {
  background: none;
  border: none;
}

.block-scroll {
  overflow: hidden;
}
