.has-icon {
  display: flex;
  align-items: center;
  gap: 4px;

  &:before {
    content: "";
    display: inline-block;
    background: center / cover no-repeat;
    width: 16px;
    height: 16px;
    line-height: normal;
  }

  &-geo:before {
    background-image: url("/assets/template/icons/geo.svg");
  }
  &-clock:before {
    background-image: url("/assets/template/icons/clock.svg");
  }
  &-whatsapp:before {
    background-image: url("/assets/template/icons/whatsapp.svg");
    width: 20px;
    height: 20px;
  }
  &-telegram:before {
    background-image: url("/assets/template/icons/telegram.svg");
    width: 20px;
    height: 20px;
  }
  &-favorite:before {
    background-image: url("/assets/template/icons/favorite.svg");
  }
  &-favorite-v2:before {
    background-image: url("/assets/template/icons/favorite-v2.svg");
    width: 18px;
  }
  &-favorite-v3:before {
    background-image: url("/assets/template/icons/favorite-v3.svg");
    width: 18px;
  }
  &-favorite-v4:before {
    background-image: url("/assets/template/icons/favorite-v4.svg");
    width: 18px;
  }
  &-cart:before {
    background-image: url("/assets/template/icons/cart.svg");
  }
  &-delivery-car:before {
    background-image: url("/assets/template/icons/delivery-car.svg");
  }
  &-arrow-right:before {
    background-image: url("/assets/template/icons/arrow-right.svg");
    width: 21px;
    height: 15px;
  }
  &-phone:before {
    background-image: url("/assets/template/icons/phone.svg");
  }
  &-clock-v2:before {
    background-image: url("/assets/template/icons/clock-v2.svg");
    width: 27px;
    height: 27px;
  }
  &-truck:before {
    background-image: url("/assets/template/icons/truck.svg");
    width: 22px;
    height: 27px;
  }
  &-search-v2:before {
    background-image: url("/assets/template/icons/search-v2.svg");
    width: 26px;
    height: 26px;
  }
  &-payment:before {
    background-image: url("/assets/template/icons/payment.svg");
    width: 27px;
    height: 21px;
  }
  &-settings:before {
    background-image: url("/assets/template/icons/settings.svg");
    width: 25px;
    height: 27px;
  }
  &-magic:before {
    background-image: url("/assets/template/icons/magic.svg");
    width: 23px;
    height: 23px;
  }
  &-payment-visa:before {
    background-image: url("/assets/template/icons/payment-visa.svg");
    width: 40px;
    height: 26px;
  }
  &-payment-mir:before {
    background-image: url("/assets/template/icons/payment-mir.svg");
    width: 40px;
    height: 26px;
  }
  &-payment-mastercard:before {
    background-image: url("/assets/template/icons/payment-mastercard.svg");
    width: 40px;
    height: 26px;
  }
  &-devcompany:before {
    background-image: url("/assets/template/icons/devcompany.svg");
    width: 43px;
    height: 36px;
  }
  &-filter:before {
    background-image: url("/assets/template/icons/filter.svg");
  }
  &-sort:before {
    background-image: url("/assets/template/icons/sort.svg");
    width: 20px;
  }
}

// after
.pseudo-arrow {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 44%;
    right: 15px;
    width: 6px;
    height: 6px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    transition: 0.2s;
  }

  &__down:after {
    transform: translateY(-50%) rotate(45deg);
  }
  &__down.active:after {
    transform: rotate(225deg);
  }
  &__right:after {
    transform: translateY(-50%) rotate(-45deg);
  }
  &__left:before {
    transform: translateY(-50%) rotate(134deg);
  }
}

// before
.pseudo-arrow-before {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    width: 6px;
    height: 6px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transition: 0.2s;
  }

  &__down:before {
    transform: translateY(-50%) rotate(45deg);
  }
  &__right:before {
    transform: translateY(-50%) rotate(-45deg);
  }
  &__left:before {
    transform: translateY(-50%) rotate(134deg);
  }
}
