.has-icon {
  display: flex;
  align-items: center;
  gap: 4px;

  &:before {
    content: "";
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    line-height: normal;
  }

  &-geo:before {
    content: url("/assets/template/icons/geo.svg");
  }
  &-clock:before {
    content: url("/assets/template/icons/clock.svg");
  }
  &-whatsapp:before {
    content: url("/assets/template/icons/whatsapp.svg");
  }
  &-telegram:before {
    content: url("/assets/template/icons/telegram.svg");
  }
  &-favorite:before {
    content: url("/assets/template/icons/favorite.svg");
  }
  &-cart:before {
    content: url("/assets/template/icons/cart.svg");
  }
  &-delivery-car:before {
    content: url("/assets/template/icons/delivery-car.svg");
  }
  &-arrow-right:before {
    content: url("/assets/template/icons/arrow-right.svg");
  }
  &-phone:before {
    content: url("/assets/template/icons/phone.svg");
  }
}

// after
.pseudo-arrow {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 44%;
    right: 15px;
    width: 6px;
    height: 6px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transition: 0.2s;
  }

  &__down:after {
    transform: translateY(-50%) rotate(45deg);
  }
  &__right:after {
    transform: translateY(-50%) rotate(-45deg);
  }
  &__left:before {
    transform: translateY(-50%) rotate(134deg);
  }
}

// before
.pseudo-arrow-before {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    width: 6px;
    height: 6px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transition: 0.2s;
  }

  &__down:before {
    transform: translateY(-50%) rotate(45deg);
  }
  &__right:before {
    transform: translateY(-50%) rotate(-45deg);
  }
  &__left:before {
    transform: translateY(-50%) rotate(134deg);
  }
}
