// colors
$main-color: #2e4e8c;
$main-hover-color: #34589d;
$neutral-color: #e5ecf5;
$neutral-light-color: #edf2f8;
$light-color: #f2f2f3;
$lightest-color: #f8f8fa;
$stroke-color: #d7d8da;
$muted-color: #8f9194;
$dark-color: #414244;
$error-color: #c42100;
$success-color: #1bad03;

// screen
$screen-xs: 480px;
$screen-sm: 767px;
$screen-md: 1024px;
$screen-lg: 1280px;
