.mobile-menu {
  padding: 0 16px;
  position: fixed;
  background: #fff;
  width: 100%;
  height: calc(100% - 28px);
  left: -100%;
  transition: 0.3s;
  z-index: 999;
  &.opened {
    left: 0;
  }

  &__footer {
    min-height: 66px;
    background-color: $lightest-color;
    position: absolute;
    margin: auto;
    width: 100%;
    left: 0;
    bottom: 38px;
    z-index: 1;
    padding: 4px 16px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    &-descriptor {
      font-size: 12px;
    }

    &-contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 4px;

      .has-icon:before {
        height: 20px;
      }
    }

    &-left {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__back {
    padding: 7px 32px;
    color: $muted-color;

    &.pseudo-arrow-before:before {
      border-color: $muted-color;
    }
  }

  &__modal {
    position: absolute;
    left: -100%;
    transition: 0.3s;
    width: calc(100% - 32px);
    margin: auto;
    margin-top: 16px;

    &.opened {
      left: 0;
      right: 0;
    }
  }

  .header__search {
    &-form {
      width: 100%;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    height: calc(100vh - 120px);
    padding-bottom: 180px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    a {
      padding: 11px 4px;
      width: 100%;
    }
    span[data-mobile-modal-open] {
      width: 55px;
      &.pseudo-arrow:after {
        top: 50%;
      }
    }
  }

  &__catalog-btn {
    width: 100%;
    text-align: start;

    &.pseudo-arrow:after {
      border-color: #fff;
      top: 50%;
    }
  }
}
