.header {
  position: relative;
  padding: 12px 0;
  box-shadow: 0px 4px 20px 0px #0000001a;
  @media (max-width: $screen-sm) {
    display: none;
  }

  &-counters {
    position: absolute;
    right: -7px;
    top: -7px;
    width: 22px;
    height: 22px;
    padding: 4px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
  }

  &__inform {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-right {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }

    &-left {
      display: flex;
      align-items: end;
      gap: 32px;
      max-width: 400px;
    }
    &-logo {
      img {
        width: 100%;
      }
    }

    &-contact-items {
      gap: 8px;
      display: grid;
      height: fit-content;
      //   display: flex;
      //   flex-wrap: wrap;
      //   width: max-content;
      //   max-width: 543px;
      //   text-align: end;
      //   li:nth-child(1) {
      //     width: 60%;
      //   }
      //   li:nth-child(2) {
      //     width: 40%;
      //   }
      //   li:nth-child(3) {
      //     width: 50%;
      //   }
      //   li:nth-child(4) {
      //     width: 50%;
      //   }
    }
    &-contact-item {
      width: max-content;
    }
    &-contact-phone {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 8px;
    }
  }

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 14px;

    &-controls {
      display: flex;
      margin-right: 0;
      margin-left: auto;
      gap: 8px;

      button {
        font-size: 14px;
      }

      .has-icon {
        gap: 8px;
      }
    }
    &-btn {
      font-size: 14px;
      font-weight: 600;
      position: relative;
    }
  }

  &__search {
    display: flex;
    gap: 32px;
    align-items: end;
    justify-content: space-between;
    margin-top: 12px;

    &-form {
      width: calc(100% - 32px - 162px);
      position: relative;

      &-icon {
        position: absolute;
        top: 50%;
        bottom: 50%;
        margin: auto;
        left: 12px;
      }
      &-input {
        padding-left: 36px !important;
        height: 40px;
      }
    }
  }

  &-menu {
    &__nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 16px;

      &-item {
        position: relative;
        &:hover .header-menu__nav-submenu {
          opacity: 1;
          visibility: visible;
        }
        &.has-submenu > a {
          padding-right: 25px;
          &::after {
            top: 48%;
            right: 8px;
          }
        }

        a {
          color: #000;
          font-weight: 600;
          padding: 11px 16px;
          display: block;
          transition: 0.2s;
          width: 100%;
          min-width: max-content;

          &:hover {
            color: $main-hover-color;
            &:after {
              border-color: $main-hover-color;
            }
          }
        }
      }

      &-submenu {
        z-index: 2;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
        padding: 4px;
        border-radius: 4px;
        box-shadow: 0px 40px 32px -12px #0000001c;
        background-color: #fff;

        a {
          padding: 4px 12px;
          border-radius: 4px;
          font-weight: 400;
          &:hover {
            color: #000;
            background-color: $neutral-color;
          }
        }
      }
    }
  }
}
