.header-mobile {
  display: none;
  padding: 6px 16px;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1019607843);
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 999;

  @media (max-width: $screen-sm) {
    display: flex;
  }

  .header-counters {
    right: -9px;
    top: -9px;
  }

  &__logo {
    img {
      width: 100%;
      max-width: 90px;
    }
  }
  &__left {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 24px;

    .has-icon.has-icon-cart {
      // transform: scale(1.5);
      // height: 16px;
      margin-right: 10px;
      position: relative;
      top: 1px;
    }
  }
  &__catalog-btn {
    &:before {
      content: "";
      display: inline-block;
      background: center / cover no-repeat;
      width: 30px;
      height: 32px;
      line-height: normal;
      background-image: url("/assets/template/icons/mobile-menu.svg");
      // transition: 0.3s;
    }
    &.active:before {
      background-image: url("/assets/template/icons/mobile-menu-close.svg");
    }
  }

  .has-icon-phone:before,
  .has-icon-cart:before {
    width: 30px;
    height: 30px;
  }
}
