*
!/core
!/core/elements
!/core/elements/**

!/src
!/src/**

!/assets
!/assets/template
!/assets/template/icons
!/assets/template/icons/**

!/package.json
!/webpack.config.js
!/postcss.config.js

!/README.md
!/.gitignore