.cart-section {
  margin-top: 22px;

  h2 {
    text-align: start;
    margin-bottom: 16px;
  }

  &__top {
    display: flex;
  }

  &__row {
    &-items {
    }
  }

  &__item {
    padding: 8px 32px 16px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid $stroke-color;

    &-pagetitle {
      margin-bottom: 8px;
      display: block;
      transition: 0.2s;

      &:hover {
        opacity: 0.7;
      }
    }

    &-image {
      width: 100px;
      height: 100px;
      background: center / cover no-repeat;
    }

    &-content {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;

      //   &__right {
      //     display: grid;
      //     gap: 16px;
      //     text-align: end;
      //   }
    }

    &-controls {
      position: absolute;
      bottom: 0;

      display: flex;
      gap: 12px;

      button:hover {
        color: $main-color;
      }
    }

    &-summ {
      margin-bottom: 16px;
      text-align: end;
    }

    .cart-product-controls {
      button {
        padding: 0;
        height: 40px;
      }
    }

    &-delete-product {
      cursor: pointer;
      color: $muted-color;
      position: relative;
      padding-left: 15px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 5px;
        width: 12px;
        height: 1px;
        background-color: $muted-color;
        transform-origin: center;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:hover {
        color: $main-color;
        &:after,
        &:before {
          background-color: $main-color;
        }
      }
    }
  }
}
