.cart-section {
  margin-top: 22px;

  h2 {
    text-align: start;
    margin-bottom: 16px;
  }

  &__top {
    display: flex;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__items {
    width: calc(70% - 40px);
    @media (max-width: $screen-sm) {
      width: 100%;
      order: 2;
    }
  }

  &__side {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (max-width: $screen-sm) {
      width: 100%;
      order: 1;
    }

    &-big,
    &-small {
      border-radius: 4px;
      box-shadow: 1px 8px 16px -3px #0000001f;
      background-color: #fff;
    }

    &-small {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      text-align: center;

      &__social {
        display: flex;
        gap: 16px;

        .has-icon::before {
          width: 40px;
          height: 40px;
        }
      }
    }

    &-big {
      padding: 24px;
      &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__controls {
        margin-top: 16px;
        display: grid;
        text-align: center;
        gap: 12px;
      }
    }
    &-small {
      padding: 16px 24px;
    }
  }

  &__item {
    padding: 8px 32px 16px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid $stroke-color;
    @media (max-width: $screen-sm) {
      padding: 8px 0;
    }

    &-pagetitle {
      margin-bottom: 8px;
      display: block;
      transition: 0.2s;

      &:hover {
        opacity: 0.7;
      }
    }

    &-image {
      width: 100px;
      height: 100px;
      background: center / cover no-repeat;
    }

    &-content {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      &__right {
        @media (max-width: $screen-sm) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          flex-wrap: wrap;
          gap: 12px;

          .cart-section__item-summ {
            order: 2;
          }
          .cart-product-controls {
            order: 1;
            max-width: 110px;
          }
          .cart-section__item-summ {
            margin-bottom: 0;
          }
        }
      }
    }

    &-controls {
      position: absolute;
      bottom: 0;

      display: flex;
      gap: 12px;

      button:hover {
        color: $main-color;
      }

      @media (max-width: $screen-sm) {
        position: inherit;
        margin: 8px 0 12px;
        .favorite-product__btn span {
          display: none !important;
        }
      }
    }

    &-summ {
      margin-bottom: 16px;
      text-align: end;
    }

    .cart-product-controls {
      button {
        padding: 0;
        height: 40px;
      }
    }

    &-delete-product {
      cursor: pointer;
      color: $muted-color;
      position: relative;
      padding-left: 15px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 5px;
        width: 12px;
        height: 1px;
        background-color: $muted-color;
        transform-origin: center;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:hover {
        color: $main-color;
        &:after,
        &:before {
          background-color: $main-color;
        }
      }
    }
  }
}
