.category-interesting {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  &__item {
    width: max-content;
    padding: 5px 10px;
    background-color: $stroke-color;
    border-radius: 8px;
    color: #000;
    &:hover {
      opacity: 0.7;
    }
  }
}
