.header {
  margin-top: 12px;
  &__inform {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left {
      display: flex;
      align-items: center;
      gap: 16px;
      max-width: 346px;
    }
    &-logo {
      width: 160px;
      height: 32px;
      background-color: aliceblue;
    }

    &-contact-items {
      max-width: 385px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 16px;
      row-gap: 8px;
      text-align: end;
    }

    &-contact-phone {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 8px;
    }
  }

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 14px;

    &-controls {
      display: flex;
      margin-right: 0;
      margin-left: auto;
      gap: 8px;
      button {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  &__search {
    display: flex;
    gap: 32px;
    align-items: end;
    justify-content: space-between;
    margin-top: 12px;

    &-form {
      width: calc(100% - 32px - 152px);
      position: relative;

      &-icon {
        position: absolute;
        top: 50%;
        bottom: 50%;
        margin: auto;
        left: 12px;
      }
      &-input {
        padding-left: 36px !important;
        height: 40px;
      }
    }
  }
}
