.partners-logo {
  &__row {
    display: grid;
    row-gap: 20px;
  }
  &__track {
    width: 100%;
    display: flex;
    &-item {
      //   width: 80px;
      min-height: 80px;
      background: center / cover no-repeat;
    }
  }
}
