.partners-logo {
  .container {
    padding: 0;
  }
  &__row {
    display: grid;
    row-gap: 20px;
  }
  &__track {
    width: 100%;
    display: flex;
    &-item {
      min-height: 80px;
      background: center / contain no-repeat;
    }
  }
}
