.tabs-section {
  &__controls {
    width: 100%;
    overflow-x: auto;
    background-color: $lightest-color;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 24px;

    &-item {
      width: 186px;
      padding: 9px;
      border-radius: 4px;
      color: $muted-color;

      &:hover {
        background-color: $light-color;
        color: #000;
      }
      &.active {
        background-color: #fff;
        color: #000;
      }
      @media (max-width: $screen-sm) {
        width: max-content;
      }
    }

    &-row {
      display: flex;
      gap: 12px;
      width: max-content;

      &.half {
        width: 100%;
        .tabs-section__controls-item {
          width: 50%;
        }
      }
    }
  }

  &__tabs {
    &-item {
      display: none;
      &.opened {
        display: block;
      }
    }
  }
}
