.cart-product {
  &-controls {
    display: flex;
    gap: 3px;
    justify-content: space-between;
    width: 50%;
    @media (max-width: $screen-xs) {
      width: 70%;
    }

    input[type="number"] {
      width: max-content;
      max-width: 33px;
      text-align: center;
      border: none;
      @media (max-width: $screen-xs) {
        max-width: 18px;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    button {
      min-width: 40px;
    }
  }
}
