.category-listing {
  fieldset {
    border: none;
  }

  &__filters {
    width: 17%;
    border-right: 1px solid $stroke-color;
    padding-right: 16px;
    height: max-content;
    padding-bottom: 24px;
    @media (max-width: $screen-md) {
      width: 25%;
    }

    @media (max-width: $screen-sm) {
      overflow: auto;
      height: calc(100vh - 168px);

      visibility: hidden;
      opacity: 0;
      left: -100%;

      position: fixed;
      top: 62px;
      bottom: 0;
      right: 0;
      width: 100%;
      background: #fff;
      z-index: 888;
      padding: 20px;
      transition: 0.3s;

      &.opened {
        visibility: visible;
        opacity: 1;
        left: 0;
      }
    }

    &__mobile-controls {
      position: fixed;
      bottom: 0;
      padding: 8px 16px;
      width: 100%;
      display: grid;
      gap: 8px;
      left: 0;
      background: #fff;

      button.btn-reset {
        background-color: $neutral-color;
      }
    }

    &-close {
      position: relative;

      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:before,
      &:after {
        position: absolute;
        content: "";
        width: 15px;
        height: 2px;
        background-color: #000;
        -ms-transform-origin: center;
        transform-origin: center;
      }
    }

    &-title {
      margin-bottom: 24px;
      font-size: 22px;
      font-weight: 700;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-row {
      gap: 24px;
    }
  }

  &__filter {
    &-more-btn {
      width: max-content;
      padding-right: 35px;
      margin-top: 13px;
      cursor: pointer;
    }

    &-row {
      display: grid;
      gap: 8px;
      &.opened {
        .category-listing__filter-value.hidden {
          display: block;
        }
      }
    }

    &-value {
      line-height: 1;
      &.hidden {
        display: none;
      }
    }

    &-title {
      margin-bottom: 8px;
    }
    .search-by-words {
      margin-bottom: 8px;
    }

    &-price-inputs {
      display: flex;
      justify-content: space-between;
      gap: 12px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: $muted-color;
        bottom: 0;
        top: 0;
        margin: auto;
        left: 0;
        right: 0;
      }
      input {
        max-width: 80px;
      }
    }

    .ui-slider-horizontal {
      height: 2px;
      border: none !important;
      background: $stroke-color;
      margin-bottom: 0 !important;
      margin-top: 11px;

      cursor: pointer;

      .ui-slider-range {
        background-color: $main-color;
      }
      .ui-slider-handle {
        width: 16px;
        height: 16px;
        border-radius: 80px;
        cursor: pointer;
        top: -6px;

        &:first-of-type {
          background-color: $main-color;
          border: none;
        }
        &:last-of-type {
          border: 2px solid $main-color;
          background-color: #fff;
        }
      }
    }
  }
}
