.gosts-page {
  .page-container {
    max-width: 800px;
    padding: 0 16px;
    margin: auto;
  }

  &__row {
    display: grid;
    gap: 16px;
    @media (max-width: $screen-sm) {
      gap: 12px;
    }
  }

  &__group {
    display: grid;
    gap: 16px;
    @media (max-width: $screen-sm) {
      gap: 12px;
    }
    .has-icon {
      gap: 12px;
    }

    &-item-title {
      span:nth-child(1) {
        min-width: 150px;
      }
      @media (max-width: $screen-md) {
        flex-wrap: wrap;
      }
    }
  }
}
