.product-main {
  margin-top: 28px;

  &__row {
    display: flex;
    gap: 40px;
    margin-bottom: 28px;
    @media (max-width: $screen-md) {
      gap: 12px;
      flex-wrap: wrap;
    }
  }

  &__gallery {
    display: flex;
    height: 400px;
    width: 33%;
    gap: 12px;
    @media (max-width: $screen-md) {
      width: 100%;
      height: 260px;
    }

    &-preview {
      width: 80%;
      @media (max-width: $screen-sm) {
        width: 100%;
      }
    }
    &-thumbs {
      width: 20%;
      .swiper-slide {
        opacity: 0.5;
      }
      .swiper-slide-thumb-active {
        opacity: 1;
      }
      @media (max-width: $screen-sm) {
        display: none !important;
      }
    }

    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-button-prev {
      transform: rotate(90deg);
      top: 35px;
      left: 22px;
    }

    .swiper-button-next {
      transform: rotate(90deg);
      top: auto;
      bottom: 20px;
      left: 22px;
    }
  }

  &__info {
    width: 40%;
    @media (max-width: $screen-md) {
      width: calc(50% - 12px);
    }
    @media (max-width: $screen-sm) {
      width: 100%;
    }

    &-article {
      margin-bottom: 8px;
    }
    &-pagetitle {
      margin-bottom: 12px;
    }

    .rating-stars-static {
      margin-bottom: 24px;
    }
    &-list {
      margin-bottom: 24px;
      li:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    &-docs {
      &-title {
        margin-bottom: 8px;
      }
      &-row {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
      }
      .has-icon {
        gap: 8px;
      }
    }
  }

  .side-block {
    @media (max-width: $screen-md) {
      width: 50%;
    }
    @media (max-width: $screen-sm) {
      width: 100%;
    }
    &__big-info:first-child {
      justify-content: flex-start;
      gap: 10px;
      margin-bottom: 16px;
    }
  }

  button.has-icon-share {
    position: relative;
  }

  .mini-popup-social {
    bottom: -40px;
    .social-icons {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .tabs-section {
    &__container {
      width: calc(73% - 40px);
      @media (max-width: $screen-md) {
        width: 100%;
      }
    }
    &__tabs-controls {
      margin: 20px auto 0;
      width: max-content;
    }
  }

  .reviews-section__items {
    @media (max-width: $screen-sm) {
      grid-template-columns: 1fr;
    }
  }

  .product-options {
    max-height: 268px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 40px;
    @media (max-width: $screen-sm) {
      flex-wrap: nowrap;
      max-height: max-content;
    }

    &__item {
      display: grid;
      grid-template-columns: 165px 1fr;
      gap: 12px;
      padding: 8px 0;
      border-bottom: 1px solid $stroke-color;
      // height: 38px;

      // &-title {
      //   width: calc(30% - 16px);
      // }
      // &-value {
      //   width: 70%;
      // }
    }
  }
}
