.favorite-product {
  &__btn {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      &:before {
        background-image: url("/assets/template/icons/favorite-v4.svg");
      }
    }
    &.active {
      &:before {
        background-image: url("/assets/template/icons/favorite-v2.svg");
      }
      span:nth-child(1) {
        display: none;
      }
      span:nth-child(2) {
        display: block;
      }
    }
    span:nth-child(2) {
      display: none;
    }
  }
}
