.btn {
  padding: 12px 16px;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;

  &-link {
    color: $main-color;
    &:hover {
      color: $main-hover-color;
    }
  }

  &-primary {
    color: #fff;
    background-color: $main-color;
    &:hover {
      background-color: $main-hover-color;
    }
  }

  &-basic {
    color: #000;
    background-color: $neutral-color;
    &:hover {
      background-color: $neutral-light-color;
    }
  }

  &-bordered {
    border: 1px solid $stroke-color;
    &:hover {
      background-color: $stroke-color;
    }
  }

  @media (max-width: $screen-sm) {
    font-size: 14px;
    line-height: 18px;
  }

  &-additional {
    margin: 20px auto 0;
    display: block;
    width: max-content;
  }
}
