.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  &.gap-24 {
    gap: 24px;
  }

  &__section {
    &-title {
      margin-bottom: 16px;
    }
    .form__group:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__error {
    &-message {
      color: $error-color;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &-row {
      display: grid;
      gap: 12px;
    }
  }
  &__footer {
    margin-top: 8px;
    &-row {
      display: flex;
      flex-wrap: wrap;
      align-items: end;
      gap: 24px;
      @media (max-width: $screen-sm) {
        gap: 12px;
      }
    }
  }

  button {
    width: max-content;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  textarea {
    resize: none;
    width: 100%;
    padding: 8px 12px;
    border: none;
    background-color: $lightest-color;
    border-radius: 4px;

    &::placeholder {
      color: $muted-color;
    }
  }

  .custom-select {
    position: relative;
    width: 100%;

    select {
      width: 100%;
      padding: 8px 12px;
      background-color: $lightest-color;
      border-radius: 4px;
      border: none;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
    }
  }

  .custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      left: 0;
      width: 16px;
      height: 16px;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      border: 2px solid $stroke-color;
      border-radius: 4px;
      transition: background-color 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        display: none;
        width: 3px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        position: relative;
        top: -1px;
      }
    }

    input:checked + .checkmark {
      background-color: $main-color;
      border-color: $main-color;
    }
    input:checked + .checkmark::after {
      display: block;
    }
  }

  .custom-file-loader {
    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    label {
      display: inline-block;
      cursor: pointer;
      padding: 10px 20px;
      color: #9f9f9f;
      border-radius: 5px;
      border: 1px dashed;
      transition: 0.2s;
      background: #f9f9f9;
      width: 100%;
      text-align: center;
      &:hover {
        background: #ababab;
        color: #fff;
      }
    }
  }

  .custom-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    label {
      cursor: pointer;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .radio-mark {
      position: relative;
      height: 16px;
      width: 16px;
      border: 2px solid #2196f3;
      border-radius: 50%;
      margin-right: 10px;
      transition: 0.2s;
      border: 1px solid $stroke-color;
    }

    input:hover + .radio-mark,
    input:focus + .radio-mark {
      border: 5px solid $stroke-color;
    }

    input:checked + .radio-mark {
      border: 5px solid $main-color;
    }
  }

  .custom-upload {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    gap: 12px;
    button.has-icon {
      gap: 8px;
    }
    &__file-name {
      display: none;
    }
    input[type="file"] {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}
