#notifications-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .notification {
    width: 250px;
    padding: 12px;
    border-radius: 8px;
    color: white;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
  }

  .notification.show {
    opacity: 1;
    transform: translateY(0);
  }

  .notification.success {
    background-color: #41cc4f;
  }

  .notification.error {
    background-color: #f95959;
  }

  .notification.warning {
    background-color: #3f96fd;
  }
}
