// <rating>
//     <input type="radio" name="rating" value="1" />
//     <input type="radio" name="rating" value="2" />
//     <input type="radio" name="rating" value="3" />
//     <input type="radio" name="rating" value="4" />
//     <input type="radio" name="rating" value="5" checked />
// </rating>

.rating-stars rating:hover input[type="radio"]:invalid::after,
.rating-stars rating:focus-within input[type="radio"]:invalid::after {
  color: #888;
}
.rating-stars {
  rating: hover;
}
.rating-stars rating {
  display: block;
  height: 24px;
}
.rating-stars input[type="radio"]:hover ~ input[type="radio"]:invalid::after,
.rating-stars
  rating
  input[type="radio"]:focus
  ~ input[type="radio"]:invalid::after {
  color: #ddd;
}
.rating-stars rating input[type="radio"]:valid {
  color: orange;
}
.rating-stars
  rating
  input[type="radio"]:checked
  ~ input[type="radio"]:not(:checked)::after {
  background-image: url("/assets/template/icons/rating-star-empty.svg");
}

.rating-stars rating input[type="radio"]:hover {
  color: #fab840 !important;
}

.rating-stars {
  input[type="radio"] {
    -webkit-appearance: none;
    margin: 0;
    cursor: pointer;
    top: -12px;
    position: relative;
  }

  input[type="radio"]::after {
    content: "";
    background: center / cover no-repeat;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("/assets/template/icons/rating-star-full.svg");
  }
  input[type="radio"]:invalid::after {
    color: #ddd;
  }
}

.rating-stars-static {
  display: flex;
  gap: 3px;

  span {
    background: center / cover no-repeat;
    width: 13px;
    height: 13px;
    display: inline-block;
  }
  span.full {
    background-image: url("/assets/template/icons/rating-star-full.svg");
  }
  span.empty {
    background-image: url("/assets/template/icons/rating-star-empty.svg");
  }
}
